## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
julia:
  - 1.0
  - 1.1
notifications:
  email: false
git:
  depth: 99999999
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("RegressionTables"); Pkg.test("RegressionTables"; coverage=true)'
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("RegressionTables")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("RegressionTables")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
